$primary-100:#2E8B57;
$primary-200:#61bc84;
$primary-300:#c6ffe6;
$accent-100:#8FBC8F;
$accent-200:#345e37;
$text-100:#FFFFFF;
$text-200:#e0e0e0;
$bg-100:#1E1E1E;
$bg-200:#2d2d2d;
$bg-300:#454545;
/*Color pallete source: aicolors.co */

$primary: $primary-100;
$secondary: $accent-100;
$body-secondary-bg: $bg-300;
$body-bg: $bg-100;
$light: $primary-300;
$body-color: $text-100;
$body-secondary-color: $accent-100;

//$link-color: $text-200;
$btn-color: $text-200;
$nav-link-color: $bg-100;
//$body-emphasis-color: $text-200;
//$btn-link-color: $text-200;

@import "../node_modules/bootstrap/scss/bootstrap";
//@import "../node_modules/cdbootstrap/css/cdb";

/*Removing the ^v arrows from the accordion buttons, and the subsequent space occupied by them.
source: https://forum.bootstrapstudio.io/t/removing-up-down-default-arrows-on-accordion-items/8815/4 */
.accordion-button::after {
    background-image: initial;
    width: 0;
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: initial;
    width: 0;
}

/*Removing white outlines and blue highlighting from accordion buttons
Adding the ellipses button into the accordion headers makes these look out of place, as bootstrap only highlights the
button and not the full header area.  I chose to remove this from all accordions rather than just the ones that have the
ellipses, to keep things consistent.*/
.accordion-button:not(.collapsed){
    box-shadow: none;
    border: none;
}
.accordion-button:not(.collapsed){
    box-shadow: none;
    border: none;
}
.accordion-button:focus{
    box-shadow: none;
}

nav button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
}
input.form-control {
    text-align: end;
    width: 100%;
    box-sizing: border-box;
}
.modal-body input{
    text-align: end;
}



@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
}

@media (max-width: 576px) {
    /*Moving nav butttons to the bottom causes content to hide behind the nav area, padding to correct this.*/
    body {
        padding-bottom: 15%;
    }
}